* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid rgba(255, 255, 255, 0.418);
  position: absolute;
  z-index: 9;
  margin-left: 30px;
  padding-right: 130px;
}
#nav h1 {
  color: red;
  font-family: Papyrus;
}

body {
  font-family: Poppins;
}

ul {
  padding-top: 10px;
  display: flex;
  gap: 30px;
  margin-left: 200px;
  justify-content: center;
}
ul li {
  list-style: none;
}
ul a {
  text-decoration: none;
  color: #fff;
}

.hero {
  background: url(../image/banner.png);
  background-position: center;
  background-position: center;
  background-repeat: cover;
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
}
.hero h1 {
  font-size: 100px;
  color: #fff;
  padding-top: 190px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  gap: 20px;
  padding-block: 70px;
  padding-right: 100px;
}
#about .last {
  margin-bottom: 20px;
}
#about button {
  background-color: #ED4333;
  color: #fff;
  padding: 10px 10px;
  border: #ED4333;
}

#three3 .our {
  padding-left: 100px;
}

.activities img {
  width: 200px;
  height: 300;
}

.activities {
  position: relative;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.activities p {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding-left: 50px;
}

.hover {
  visibility: hidden;
}

.card:hover .hover {
  visibility: visible;
}
.card:hover .b {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.616);
}
.card:hover .a {
  bottom: 96px;
  background-color: rgba(0, 0, 0, 0.616);
}

.four {
  padding-block: 70px;
  padding-right: 100px;
  padding-left: 80px;
  position: relative;
}
.four .text-box {
  position: absolute;
  padding-left: 40px;
  width: 60%;
}
.four img {
  width: 200px;
  height: 250px;
}
.four .pics {
  position: relative;
  display: flex;
  display: flex;
  align-items: center;
  gap: 10px;
}
.four .pics .card2 {
  padding-top: 165px;
}
.four .pics .card3 {
  padding-bottom: 220px;
}
.four .pics .cerd4 {
  row-gap: 30px;
  padding-bottom: 300px;
}
.four .pics .cerd4 .two {
  padding-top: 10px;
}
.four .pics .card5 {
  padding-bottom: 100px;
}
.four .pics .card5 img {
  height: 350px;
}

#Itenaries {
  padding-left: 30px;
}
#Itenaries .two {
  padding-top: 10px;
}
#Itenaries .one1 {
  display: flex;
}
#Itenaries .one1 img {
  width: 250px;
  height: 350px;
}
#Itenaries h1 {
  padding-bottom: 60px;
}
#Itenaries .card {
  background-color: #ED4333;
  color: #fff;
  width: 250px;
  height: 350px;
  font-size: 10px;
  padding: 10px;
  border-radius: 0px;
  border: none;
}
#Itenaries .card h2 {
  font-size: 15px;
}
#Itenaries .card h3 {
  font-size: 15px;
}
#Itenaries .pics2 {
  position: relative;
  display: flex;
  padding-left: 50px;
  color: #fff;
  font-size: 7px;
  gap: 50px;
}
#Itenaries .pics2 .text1 {
  padding-left: 20px;
  position: absolute;
  bottom: 0;
}
#Itenaries .pics2 .text {
  position: absolute;
  padding-left: 20px;
  bottom: 0;
}

#testimonials h1 {
  padding-left: 20px;
  padding-top: 70px;
  padding-bottom: 50px;
}
#testimonials .container {
  display: flex;
  gap: 10px;
}
#testimonials .container img {
  width: 300px;
  height: 400px;
}

#stories {
  padding-bottom: 100px;
}
#stories h1 {
  padding-top: 100px;
  padding-bottom: 30px;
}
#stories .first-pics {
  display: flex;
}
#stories .first-pics .truck {
  width: 50%;
}
#stories .first-pics .truck img {
  width: 550px;
  height: 300px;
}
#stories .first-pics img {
  width: 300px;
  height: 300px;
}
#stories .two-pic {
  width: 50%;
  display: flex;
  gap: 10px;
}
#stories .three-pics {
  display: flex;
  width: 50%;
  gap: 10px;
  row-gap: 10px;
}
#stories .three-pics img {
  width: 177px;
  height: 200px;
}
#stories .bottom-pics {
  padding-top: 10px;
  display: flex;
}
#stories .bottom-pics .room {
  width: 50%;
}
#stories .bottom-pics .room img {
  width: 557.5px;
  height: 200px;
}

#footer-main {
  background-color: #ED4333;
  color: #fff;
  font-size: 10px;
}
#footer-main hr {
  color: #000000;
  border: 2px solid #000;
  padding-bottom: 10px;
}
#footer-main .footer {
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
#footer-main .footer .eb {
  display: flex;
}
#footer-main .footer .eb button {
  background: #000;
  color: white;
  padding: 10px 10px;
  border: none;
}
#footer-main .footer .eb button:hover {
  background-color: rgb(95, 93, 93);
}
#footer-main .footer input {
  padding: 10px;
  border: none;
}
#footer-main h2 {
  font-size: 20px;
}
#footer-main p {
  font-weight: 200;
}

#testimonials {
  position: relative;
}
#testimonials .card {
  visibility: hidden;
}
#testimonials .jacob-overlay:hover .card {
  visibility: visible;
}
#testimonials .brown img:hover .card {
  visibility: visible;
}
#testimonials .jacob-overlay {
  display: flex;
  position: relative;
}
#testimonials p {
  color: #fff;
  padding-left: 100px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
#testimonials .card {
  margin-left: 10px;
  border: none;
  border: 2px solid #f10101;
  border-radius: 15px;
}
#testimonials .card {
  text-align: center;
  justify-content: center;
  width: 450px;
  height: 400px;
}
#testimonials .card img {
  width: 35%;
  height: 35%;
}
#testimonials .card .footer h1 {
  padding-top: 100px;
}
#testimonials .card p {
  color: #000;
  padding-bottom: 150px;
  padding-right: 100px;
  font-size: 10px;
}
#testimonials .card-head {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#testimonials .card-head img {
  padding-left: 30px;
  padding-right: 30px;
}/*# sourceMappingURL=style.css.map */